*.png
*.pdf
*.JPG
*.jpg
*.ipynb
*.psd
*.gif
test_DB_Reporte.py
DB_USUARIOS.db
tipos_de_postura/*.*
Pruebas_adultos/*.*
venv
venv_kivy
# Ignorar carpetas de creacion de ejecutable .exe
__pycache__
build
dist
*.spec
*.json